[core]
    pager = delta
        autocrlf = true
        eol = native

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    hyperlinks = true
    hyperlinks-file-link-format = vscode://file/{path}:{line}
    syntax-theme = Catppuccin Mocha
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[pull]
    rebase = false

[init]
    defaultBranch = main

[color]
    ui = auto

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[alias]
    st = status -sb
    lg = log --graph --decorate --all --oneline
    l = log --oneline
    last = log -1 HEAD
    co = checkout
    sw = switch
    cm = commit
    br = branch
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f