[include]
    path = ~/.gitconfig.local

[core]
    editor = notepad++.exe -multiInst -notabbar -nosession
    pager = delta
    autocrlf = true

[init]
    defaultBranch = main

[color]
    ui = auto

[credential]
    helper = manager

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    hyperlinks = true
    features = decorations

[alias]
    s = status
    st = status --short --branch
    aa = add .
    cm = commit -m
    lg = log --graph --decorate --oneline --all
    df = diff
    dc = diff --cached